name: SS Proxy

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  run-proxy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Modal
        run: pip install modal pyyaml

      - name: Deploy API
        env:
          MODAL_TOKEN_ID: ${{ secrets.MODAL_TOKEN_ID }}
          MODAL_TOKEN_SECRET: ${{ secrets.MODAL_TOKEN_SECRET }}
        run: modal deploy freeproxy.py

      - name: Start SS Server (detached)
        env:
          MODAL_TOKEN_ID: ${{ secrets.MODAL_TOKEN_ID }}
          MODAL_TOKEN_SECRET: ${{ secrets.MODAL_TOKEN_SECRET }}
        run: modal run --detach freeproxy.py
